// Charts.js
@import '../../node_modules/chart.js/dist/Chart';

.chart-surround {
  margin: 0 -25px;
  @media (min-width: 768px) { 
    margin: 0 -40px;
  }
}
.buoy-description {
  display: none;
  .expanded & {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }
  & > * {
    padding: 0.25em 0.5em;
  }
  .image,
  .memplot {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.chart-info {
  margin: 0.3em ​0 1em;
  position: relative;
  padding: 0 10px;
  // height: 68px;
  // overflow: hidden;
  // &:not(.no-results) {
  //   &:before {
  //     content: 'Expand';
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     text-align: center;
  //     width: 100%;
  //     z-index: 99;
  //     font-size: 1.1rem;
  //     pointer-events: none;
  //     transition: opacity 0.3s;
  //     text-transform: uppercase;
  //     letter-spacing: 0.02em;
  //     opacity: 0.666;
  //     cursor: pointer;
  //   }
  //   &:after {
  //     content: '';
  //     width: 100%;
  //     height: 40px;
  //     background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
  //     position: absolute;
  //     transition: opacity 0.3s;
  //     left: 0;
  //     bottom: 0;
  //     pointer-events: none;
  //   }
  //   &:hover {
  //     &:before {
  //       opacity: 1;
  //     }
  //   }
  // }
  dl {
    pointer-events: none;
  }
  // &.expanded {
  //   height: auto;
  //   &:before {
  //     content: 'Collapse'
  //   } 
  //   &:after {
  //     opacity: 0;
  //   }
  //   dl {
  //     pointer-events: all;
  //   }
  // }
  ul {
    display: flex;
    font-size: 1.2rem;
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    list-style: none;
    padding-left: 0;
    margin: 0.25em 0;
    // column-count: 1;
    // column-gap: 0;
    // grid-template-columns: 1fr;
    // @media (min-width: 768px) {
    //   column-count: 2;
    // }
    li {
      border-right: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
      padding: 0.25em 0.5em;
      font-weight: 400;
      break-inside: avoid;
      // display: flex;
      // justify-content: space-between;
      span {
        font-weight: 300;
        display: block;
        margin-top: 0.2em;
      }
    }
  }
}

// .chart-js-layout {
.chart-js-menu {
  // display: flex;
  // justify-content: flex-end;
  // margin-bottom: 0.7em;
  &.btn-group {
    & > button.btn {
      &.calendars-trigger {
        &:not(:last-child) {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
      span {
        pointer-events: none;
      }
    }
  }
}
// }

.card {
  .btn-group {
    & > button.btn {
      font-family: 'Lato', sans-serif;
      &:before {
        font-family: 'FontAwesome';
        margin-right: 3px;
      }
    }
  }
  &.card-primary {
    border-color: $header;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    .card-header {
      background: $header;
      padding: 0.6rem ​1rem;
      h6 {
        font-size: 1.2rem;
        margin: 0.5em 0;
        line-height: 1.25em;
        font-weight: 500;
        color: #fff;
        span {
          opacity: 0 !important;
        }
      }
      time {
        display: block;
      }
      button.btn {
        // color: #fff;
        // border-color: #fff;
        background: #f0f0f0;
        color: #111;
        font-size: 1.2rem;
      }
    }
    .card-body {
      // padding: 10px 15px 5px;
      h5.latest-observations {
        padding-left: 16px;
        margin: 0.5em 0 0;
        font-size: 13px;
        font-weight: bold;
      }
      .canvas-legend {
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        label {
          padding: 0 5px;
          span {
            // text-decoration: line-through;
            opacity: 0.25;
            transition: opacity 0.2s;
          }
          input[type="checkbox"] {
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 16px;
            height: 16px;
            background: transparent;
            &:checked {
              & + span {
                text-decoration: none;
                opacity: 1;
              }
              &:before {
                opacity: 1;
              }
            }
            &:after,
            &:before {
              content: '';
              background: var(--checkbox-background);
              width: 16px;
              height: 16px;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 10;
              // opacity: 0.5;
              // border-radius: 3px;
            }
            &:before {
              transition: opacity 0.2s;
              opacity: 0.5;
            }
            &:after {
              background: #fff;
              z-index: 5;
            }
          }
        }
      }
      .canvas-wrapper {
        position: relative;
        transition: opacity 0.5s;
        body:not(.page-template-wave-display-react) & {
          &.no-results,
          &.loading {
            &:after {
              content: 'Loading';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-transform: uppercase;
              letter-spacing: 0.1em;
            }
            canvas {
              min-height: 35vh;
              @media (min-width: 768px) { 
                opacity: 0.5;
                width: 100%;
                height: 0;
                min-height: 0;
                padding-bottom: 40%;
              }
            }
            & + h5.latest-observations {
              display: none;
            }
          }
          &.no-results {
            &:after {
              content: 'No results found';
              color: #c0c0c0;
            }
            canvas {
              @media (min-width: 768px) { 
                padding-bottom: 35px;
              }
            }
          }
        }
      }
    }
  }
}

.litepicker {
  font-size: 1.2em;
}

.warning {
  // @extend .alert;
  @extend .alert-danger;
  padding: 0.1em 0.25em;
}

.modal-dialog {
  .modal-content {
    .btn {
      font-size: 1.3rem;
    }
  }
}